html{
    background-color: rgb(56, 187, 230);
}
body{
    text-align: center;
}
.full-background{
    background-image: url(/Images/Road2recovery.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position: relative;
    right: 9px;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
@keyframes hrColorChange{
    from {border-color: rgb(56, 187, 230);}
    to {border-color: white;}
}
hr{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: hrColorChange;
    border-style: dotted none none;
    border-radius: 0%;
    border-color: #eaf6f6;
    border-width: 10px;
    width: 20%;
}
.first-title{
    color: white;
    font-family: 'Lobster',sans-serif;
    font-size: 50px;
    position: absolute;
    left: 43%;
    top: 2%;
    text-shadow: 2px 4px 5px goldenrod;
}
.title{
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 100px;
    padding: 30px;
    text-shadow: 2px 4px 5px goldenrod;
}
.womens-living{
    color: goldenrod;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    text-shadow: 2px 3px 5px white;
}
.intro, .intro1-statement, .intro1-statement2{
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.mission-statement{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.vision-container{
    background-color: white;
    background-size: 100% 100%;
    position: relative;
    right: 9px;
    top: 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.vision-title{
    color: goldenrod;
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
}
.mission-title {
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 80px;
    text-shadow: 3px 4px 5px goldenrod;
}
.support-statement, .promotion {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-shadow: 2px goldenrod;
}
.mission-statement1, .mission-statement2, .mission-statement3{
    color: white;
    border: 4px solid goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 35%;
}
.mission-statement1{
    position: relative;
    bottom: 10%;
    left: 65px;
    height: 165px;
    padding: 10px;
}
.mission-statement2{
    position: relative;
    left: 20%;
    top: 60%;
    height: 175px;
    width: 60%;
    padding: 10px;
}
.mission-statement3{
    position:relative;
    left:48%;
    top: 96%;
    bottom: 15%;
    height: 220px;
    width: 50%;
    padding: 10px;
}
li{

    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.final-info-container{
    background-image: url(/Images/helping.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    right: 9px;
    bottom: 10px;
    height: 75%;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.final{
    color: goldenrod;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}
.bold-red{
    color: red;
    font-size: 50px;
    font-weight: 800;
}
.final-change{
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.together-quote{
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.bold-white{
    color:white;
}
.contact-container{
    background-color: goldenrod;
    background-position: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    right: 9px;
    bottom: 10px;
    height: 75%;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.contact{
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 45px;
}
.help{
    color: white;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-me{
    border-style: 1px solid white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
